<%= render "shared/zone" do %>
  <h5 style = "text-transform:uppercase">Edit <%= @section.name %> <%= @zone.name %> Zone Information</h5>
  <%= render "shared/flash" %>
  <%= render "form" %>
<% end %>
