<%= form_with model: [@warehouse, @section, @zone, @item] do |form| %>
  <%= render "shared/form_error", form: form %>
  <div style = "margin:4%">
    <%= form.label "Name of Item" %><br>
    <%= form.text_field :name, required: true %>
  </div>
  <div style = "margin:4%">
    <%= form.label "Item code" %><br>
    <%= form.text_field :code, required: true %>
  </div>
  <div style = "margin:4%">
    <%= form.label "Quantity" %><br>
    <%= form.text_field :quantity, required: true %>
  </div>
  <div style = "margin:4%">
    <%= form.label "Unit of measure" %><br>
    <%= form.text_field :measure, required: true %>
  </div>
  <div style = "margin:4%">
    <%= form.label "Describe Item" %><br>
    <%= form.text_area :description, required: true %>
  </div>
  <div style = "margin-left:4%"><%= form.submit %></div>
<% end %>
