<%= render "shared/item" do %>
  <%= render "shared/flash" %>
  <h5 style = "text-transform:uppercase">Create Item in <%= @zone.name %> zone in <%= @section.name %></h5> 
  <%= render "form" %>
<% end %>
